<%= form_for(@subcontractor) do |f| %>
  <% if @subcontractor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subcontractor.errors.count, "error") %> prohibited this subcontractor from being saved:</h2>

      <ul>
      <% @subcontractor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, :placeholder => "Name of the company", :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email, :placeholder => "Contact email", :class => "form-control"%>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password, :placeholder => "you'll need this to edit your profile", :class => "form-control"%>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location, :placeholder => "e.g. Germany or London", :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, :cols => 60, :rows => 10, :placeholder => "Your company in a few sentences. If applicable, please include links to two projects you're proud of.", :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :link %><br>
    <%= f.text_field :link, :placeholder => "Your website", :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :skills %><br>
    <%= f.text_area :skills, :cols => 60, :rows => 10, :placeholder => "What are your company's core strenghts. e.g. mobile, web, enterprise, ruby", :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :company_size %><br>
    <%= f.text_field :company_size, :placeholder => "e.g. 5 developers, 3 QA engineers", :class => "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit "Apply as a subcontractor", :class => "btn btn-lg btn-primary" %>
  </div>
<% end %>
