<%= form_for(@subcontractor) do |f| %>
  <% if @subcontractor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subcontractor.errors.count, "error") %> prohibited this subcontractor from being saved:</h2>

      <ul>
      <% @subcontractor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, :cols => 60, :rows => 10 %>
  </div>
  <div class="field">
    <%= f.label :link %><br>
    <%= f.text_field :link %>
  </div>
  <div class="field">
    <%= f.label :skills %><br>
    <%= f.text_area :skills, :cols => 60, :rows => 10 %>
  </div>
  <div class="field">
    <%= f.label :company_size %><br>
    <%= f.text_field :company_size %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
