<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @subcontractor.name %>
</p>

<p>
  <strong>Website</strong>
  <%= link_to "#{@subcontractor.link}", url_for(@subcontractor.link) %>
</p>

<p>
  <strong>Description:</strong>
  <%= @subcontractor.description %>
</p>
<p>
  <strong>Skills</strong>
  <%= @subcontractor.skills %>
</p>

<p>
  <strong>Capacity</strong>
  <%= @subcontractor.company_size %>
</p>
<p>
  <strong>Location:</strong>
  <%= @subcontractor.location %>
</p>


<%= link_to 'Edit', edit_subcontractor_path(@subcontractor) %> |
<%= link_to 'Back', subcontractors_path %>
