<p id="notice"><%= notice %></p>

<h1>Profile Details</h1>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>


<p>
  <strong>Member since</strong>
  <%= @user.created_at.strftime("%m-%d-%Y") %>
</p>

<% if @user.subcontractor != nil %>
Company: <%= link_to @user.subcontractor.name, @user.subcontractor %>
<% end %>
<div class="container">

<% if @proj_count > 0 %>
	<h2>You have <%= @proj_count %> <%= @proj_count > 1 ? "projects" : "project" %> listed </h2>
	<% @user.projects.each do |p| %>
	 <%= link_to  p.name, p, { :class => "btn btn-lg btn-primary" } %>
	<% end %>
<% end %>
</div>
