<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group">
    <%= f.label "Your name (or the name of the company)" %><br>
    <%= f.text_field :name, :placeholder => "Your (company) name", :cols => 60, :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email,  :placeholder => "Contact email", :class => "form-control" %>
  </div>
  <% if !logged_in? %>
	  <div class="field">
		<%= f.label :password %><br>
		<%= f.password_field :password, :placeholder => "you'll need this to edit your project", :class => "form-control"%>
	  </div>
  <% end %>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location, :placeholder => "(optional)", :class => "form-control"%>
	We assume remote is always allowed. If not, please state this explicitly.
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, :cols => 60, :rows => 6, :class => "form-control", :placeholder => "e.g. We are building a multi-layered solution for a large insurance client. We need to outsource the mobile dev part. Deadline is in 4 months." %>
	Keep it short!<br/>Be as specific as possible, but feel free to keep any confidential details for the private chat with the team.
	<br/>
	Important things to include (where applicable):
	<ul>
		<li>Nature of the project (whether if it is IT administration outsourcing, e-comerce website, social mobile app)</li>	
		<li>Technology requirements, if any (e.g. if needs to be done in Ruby on Rails)</li>	
		<li>Deadlines</li>	
	</ul>
  </div>
  <div class="actions ">
    <%= f.submit "Find a Team for This Project", :class => "btn btn-lg btn-primary"%>
  </div>
<% end %>
