<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, :placeholder => "Your (company) name", :cols => 60, :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email,  :placeholder => "Contact email", :class => "form-control"%>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location, :placeholder => "(optional)", :class => "form-control"%>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, :cols => 60, :rows => 10, :class => "form-control", :placeholder => "e.g. We are building a multi-layer solution for a large insurance client. We need to outsource the mobile dev part. Deadline is in 4 months." %>
  </div>
  <div class="actions ">
    <%= f.submit :class => "btn btn-lg btn-primary"%>
  </div>
<% end %>
