<section class="license section">
    <div class="container">
        <div class="license-inner">
            <h2 class="title text-center">Project Details</h2>
            <div class="info">
                <div class="row">
				  	<div class="col-md-6 col-md-offset-3">
							<% if notice %>
								<div class="alert alert-dismissable alert-info">
								  <button type="button" class="close" data-dismiss="alert">×</button>
									<%= notice %>
								</div>
							<% end %>

							<p>
							  <strong>Company Name:</strong>
							  <%= @project.name %>
							</p>

							<p>
							  <strong>Email:</strong>
							  <%= @project.email %>
							</p>

							<p>
							  <strong>Description:</strong>
							  <%= @project.description %>
							</p>

							<p>
							  <strong>Location:</strong>
							  <%= @project.location %>
							</p>

							<p>
							  <strong>Created at:</strong>
							  <%= @project.created_at %>
							</p>

							<%= link_to 'Edit', edit_project_path(@project) %> |
							<%= link_to 'All Your Projects', projects_path %>

					</div>
	            </div>
	        </div>
	    </div>
	</div>
</section>


					</div>
	            </div>
	        </div>
	    </div>
	</div>
</section>

					</div>
	            </div>
	        </div>
	    </div>
	</div>
</section>

