<%= form_for(@qlibri_contact, remote: true) do |f| %>
  <% if @qlibri_contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@qlibri_contact.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @qlibri_contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label "Your name (or the name of the company)" %>
    <%= f.text_field :name, :placeholder => "Your (company) name", :cols => 60, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email,  :placeholder => "Contact email", :class => "form-control" %>
  </div>
    <%= f.label "Your message" %>
    <%= f.text_area :description, :cols => 60, :rows => 6, :class => "form-control", :placeholder => "e.g. We are building a multi-layered solution for a large insurance client. We need to outsource the mobile dev part. Deadline is in 4 months." %>
  </div>
  <br/>
  <div class="actions ">
    <%= f.submit "Submit", :class => "btn btn-lg btn-primary"%>
  </div>
<% end %>

